@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar {
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0px;
		}
		-ms-overflow-style: none;
	}
}

html,
body {
	background-color: #0d1220;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
